<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    <script src="../js/main.js" defer></script>
    <link rel="stylesheet" href="../style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <!-- 여기가 헤드부분-->
    <header class="top">
        <div class="logo">
            <img src ="../image/now.png" alt ="no file"><p>한국외대 정보다모아</p>
        </div>
        <ul class="menu_bar">
            <li>
                <button type="button" onclick="location.href='_scholar.html'">장학금</button>
            </li>
            <li>
                <button type="button" onclick="location.href='_intnActivity.html'">대외활동</button>
            </li>
            <li>
                <button type="button" onclick="location.href='_volun.html'">봉사</button>
            </li>
            <li>
                <button type="button" onclick="location.href='_alliNben.html'">제휴,혜택</button>
            </li>
            <li>
                <button type="button" onclick="location.href='_etc.html'">etc</button>
            </li>
        </ul>
        <div class="login">
            <li>로그인</li>
            <li>회원가입</li>
            <li>고객센터</li>
        </div>
    
    </header>
    <div class="wrap">
        <!--1번 -->
        <section class="mid">
            <div class="middle-left">
                <div id="title"> 학사정보 <input type="button" value="+" id="more"></div>
                <li>ㅇㅇㅇ</li>
                <li>ㄴㄴㄴㄴ</li>
                <li>ㅁㅁㅁㅁ</li>
                <li>ㄷㄷㄷ</li>
                <li>ㄹㄹㄹ</li>
                
            </div>
            <div class="middle-right">
                <div class="middle-right1">
                    <div id="title">동문소식<input type="button" value="+" id="more"></div>
                </div>
                <div class="middle-right2">
                    <div id="title">인터뷰 게시글<input type="button" value="+" id="more"></div>
                </div>
                <div class="middle-right3">
                    <div id="title">맛집<input type="button" value="+" id="more"></div>
                </div>
            </div>
            
        </section>
        <!-- 밑에 하단 링크 -->
        <footer class="bottom">
            <div class="slidebanner">
                <ul class="hufs_link">
                    <li>
                        <a href="http://www.hufs.ac.kr/" target="_blank"><img src="../image/hufs.jpg" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 공식 홈페이지</span>
                        </div>
                        
                    </li>
                    <li>
                        <a href="https://eclass.hufs.ac.kr/" target="_blank"><img src="../image/eclass.jpg" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 E-class</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/hufsstudent/" target="_blank"><img src="../image/seoul_organization.png" alt="error"></a>
                        <div class="info">
                            <span class="name">서울캠퍼스 총학생회</span>
                            <span class="info2">54대 총학생회 새벽으로 부터</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/hufsglobal42th" target="_blank"><img src="../image/global_organization.png" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 공식 홈페이지</span>
                            <span class="info2">42대 총학생회 On</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/hufspr" target="_blank"><img src="../image/hufs_facebook.jpg" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 공식 Facebook</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/HUFS1954" target="_blank"><img src="../image/hufs_youtube.jpeg" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 공식 Youtube</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/hufstagram/" target="_blank"><img src="../image/hufs.jpg" alt="error"></a>
                        <div class="info">
                            <span class="name">한국외대 공식 Instagram</span>
                        </div>
                    </li>
                </ul>            
            </div>
        </footer>
    </div>


</body>
</html>