

.menuBox {
    width:986px;display:table;
    height:231px;
    table-layout:fixed;
    margin: 0 auto;
}

dl {
    display: block;
    margin: 0;
}

dd {
    background-color: dimgrey;
    overflow: hidden;
    margin: 0;
    list-style: none;
}


ul {
    border-right: 1px solid #e6e9e9;
    display: inline-grid;  
    list-style: none;        /* 리스트 점 제거 */
    padding: 0px 10px 0px 10px;
    width: 100px; /*칸 너비 */
}

li {
    padding-left: 8px;
    height: 25px;
}

.lastTab {
    border-right: none;
}

.rightBar {
    position: absolute;
    width: 120px;
    top: 55px;
    margin-left: 543px;
    left: 50%;
    background-color: beige;
    list-style: none;
    
}